{erl_opts, [debug_info]}.
{deps, [
    {erlport, "0.9.8"},
    {bbmustache, "1.4.0"},
    {erlydtl, "0.12.1"}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [
    {dir, ["test/eunit"]}
]}.
{ct_opts, [
    {dir, ["test/ct"]}
    ,{label, tdata}
    ,{readable, true}
]}.

{overrides, [
    {add, erlydtl, [{pre_hooks, [
        {app_compile, "rm -f src/erlydtl.app.src.script"}
    ]}]}
]}.