{erl_opts, [debug_info]}.
{deps, [
    {erlport, "0.10.0"},
    {bbmustache, "1.6.1"},
    {erlydtl, "0.12.1"},
    {getopt, "1.0.1"},
    {cf, "0.3.1"},
    {jsx, "2.10.0"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", escriptize,
        "cp \"$REBAR_BUILD_DIR/bin/tdata\" ./tdata"},
    {"win32", escriptize,
        "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ tdata* "
        "/njs /njh /nfl /ndl & exit /b 0"} % silence things
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [
    {dir, ["test/eunit"]}
]}.
{ct_opts, [
    {dir, ["test/ct"]},
    {label, tdata},
    {readable, true},
    {ct_hooks, [{tdata_ct_hook, []}]}
]}.

{overrides, [
    {add, erlydtl, [{pre_hooks, [
        {app_compile, "rm -f src/erlydtl.app.src.script"}
    ]}]}
]}.

{alias, [
    {es, [escriptize]}
]}.

{escript_incl_extra, [
    {"python2/*.py", "_build/default/lib/tdata/priv"},
    {"python2/erlport/*.py", "_build/default/lib/erlport/priv"}
]}.
{escript_incl_apps, [tdata, erlport, bbmustache, getopt, cf, jsx]}.
{escript_main_app, tdata}.
{escript_name, tdata}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
